
<section class="container w-full h-full flex flex-col">
    <div class="m-auto">
        <h1 class="mb-4 font-extrabold text-2xl">upload file to Google Drive</h1>
        <form id="uploadForm">
            <input type="file" name="Files" id="Files" required multiple />
            <button type="submit" class="px-4 py-2 bg-indigo-700 text-white rounded-lg">Submit</button>
        </form>
    </div>
    
</section>